extends layout
block content
  form(id='message', method='post', action='/board')
    input(type=text, name='message')
    input(type='submit',value='Submit')
  div(class='messages' id='messageBoard')