doctype html
html
  head
    title #{title}
    link(href='styles.css' rel='stylesheet')
    body
    div(class='pageContainer')
        h1 Message Board
        nav
            div(class='navbar')
              div(class='navbutton')
                a(href='/')
                  label Home
              div(id='LoginStuff')
                div(id='postLoginStuff')
                  div(class='navbutton')
                    a(href='profile')
                      label Profile
                  div(class='navbutton')
                    a(href='logout')
                      label Logout
                div(id='preLoginStuff')
                  div(class='navbutton')
                    a(href='login')
                      label Login
                  div(class='navbutton')
                    a(href='register')
                      label Register

        h1 #{title}
        div
          block content
