extends layout
block content
  head
    title Authentication
  body

    div(class="loginSpaceContainer")
      div(class="loginSpace")
        form(id='form', method='post', action='/')
          label Username:
          br
          input(type='text', name='username')
          br
          label Password:
          br
          input(type='password', name='pass')
          br
          input(type='submit', value='submit')