extends layout

block content
  head
    title Login
  body
    div(class="loginSpaceContainer")
      div(class="loginSpace")
        form(id='form', method='post', action='/login')
          label Username:
          br
          input(type='text', name='username')
          br
          label Password:
          br
          input(type='password', name='pass')
          br
          input(type='submit', value='Submit')