extends layout
block content
  head
    title Public
  body
    div(class='boardContainer')
        h3 Message Board
        div(id='messageBoard' class='board')

            // pull all files from db, load each message and avatar.
            div(id='messageContainer' class='messageBox')
                div(class='avatarBoard')
                    img(id='imgAvatar' style='border-radius: 20px; border: 2px solid black' src='https://api.adorable.io/avatars/face/eyes0/nose0/mouth0/fff')
                div(class='username')
                   p andrewSylvester117:
                div(class='message')
                    p Man, I am dreading work today
            br    
             
            div(class='messageBox')
                div(class='avatarBoard')
                    img(style='border-radius: 20px; border: 2px solid black' src='https://api.adorable.io/avatars/face/eyes0/nose0/mouth0/fff')
                div(class='username')
                    p N8128:
                div(class='message')
                    p I had so much fun at the concert!
            br

            div(class='messageBox')
                div(class='avatarBoard')
                    img(style='border-radius: 20px; border: 2px solid black' src='https://api.adorable.io/avatars/face/eyes0/nose0/mouth0/fff')
                div(class='username')
                    p Miranda:
                div(class='message')
                    p Just got my lashes done!!
            br
            
            div(class='messageBox')
                div(class='avatarBoard')
                    img(style='border-radius: 20px; border: 2px solid black' src='https://api.adorable.io/avatars/face/eyes0/nose0/mouth0/fff')
                div(class='username')
                    p Kyle:
                div(class='message')
                    p Gymmmm Brooooooooo!
            br

            div(class='messageBox')
                div(class='avatarBoard')
                    img(style='border-radius: 20px; border: 2px solid black' src='https://api.adorable.io/avatars/face/eyes0/nose0/mouth0/fff')
                div(class='username')
                    p Omar:
                div(class='message')
                    p I had the worst day at School, and im going to complain about it.
            br

            div(class='messageBox')
                div(class='avatarBoard')
                    img(style='border-radius: 20px; border: 2px solid black' src='https://api.adorable.io/avatars/face/eyes0/nose0/mouth0/fff')
                div(class='username')
                    p Andrew:
                div(class='message')
                    p I want to go ride my dirtbike!
            br

            div(class='messageBox')
                div(class='avatarBoard')
                    img(style='border-radius: 20px; border: 2px solid black' src='https://api.adorable.io/avatars/face/eyes0/nose0/mouth0/fff')
                div(class='username')
                    p Jesus:
                div(class='message')
                    p Hola, Burrito, Taco, Quesadilla!
            br

            div(class='messageBox')
                div(class='avatarBoard')
                    img(style='border-radius: 20px; border: 2px solid black' src='https://api.adorable.io/avatars/face/eyes0/nose0/mouth0/fff')
                div(class='username')
                    p Carl:
                div(class='message')
                    p I lost my dog, help!
            br