extends layout

block content
  script(src='register.js' type='text/javascript')
  label Username: #{user.username} 
  label Password: #{user.password} 
  label Email: #{user.email} 
  label Age: #{user.age} 
//0017/1/2/8 avatar id