extends layout

block content
  div(id='formPanel')
    form(id='form', method='post', action='/registerComplete')
      div(id='userInfoArea')
        input(type='text' class='textbox' name="username" id=txtUserName placeholder="Username")
        input(type='text' class='password' name="password" id=txtPassword placeholder="Password")
        input(type='text' class='textbox' name="email" id=txtEmail placeholder="Email Address")
        input(type='text' class='textbox' name="age" id=txtAge placeholder="Age")
        input(type='submit' id='btnSubmit' text='Submit')