extends layout

block content
  script(src='/scripts/register.js')
  label Username: #{user.username} 
  label Password: #{user.password} 
  label Email: #{user.email} 
  label Age: #{user.age}
  nav
    a(href='board')
      label Messages