extends layout

block content
  div(id='formPanel')
    form(id='form', method='post', action='/registerComplete')
      div(id='userInfoArea')
        input(type='text' class='textbox' name="username" id=txtUsername placeholder="Username")
        input(type='text' class='password' name="password" id=txtPassword placeholder="Password")
        input(type='text' class='textbox' name="email" id=txtEmail placeholder="Email Address")
        input(type='text' class='textbox' name="age" id=txtAge placeholder="Age")
        div(id='avatarEditor')
          select(id='selEyes')
            option(value='1')
              p Eyes 1
            option(value='2')
              p Eyes 2
            option(value='3')
              p Eyes 3
            option(value='4')
              p Eyes 4
            option(value='5')
              p Eyes 5
            option(vaue='6')
              p Eyes 6
            option(value='7')
              p Eyes 7
            option(value='9')
              p Eyes 8
            option(value='10')
              p Eyes 9
          select(id='selNose')
            option(value='2')
              p Nose 1
            option(value='3')
              p Nose 2
            option(value='4')
              p Nose 3
            option(value='5')
              p Nose 4
            option(value='6')
              p Nose 5
            option(value='7')
              p Nose 6
            option(value='8')
              p Nose 7
            option(value='9')
              p Nose 8
          select(id='selMouth')
            option(value='1')
              p Mouth 1
            option(value='3')
              p Mouth 2
            option(value='5')
              p Mouth 3
            option(value='6')
              p Mouth 4
            option(value='7')
              p Mouth 5
            option(value='9')
              p Mouth 6
            option(value='10')
              p Mouth 7
            option(value='11')
              p Mouth 8
          input(type='color' name='color' id='selColor')
          img(id='imgAvatar' src='https://api.adorable.io/avatars/face/eyes0/nose0/mouth0/fff')
        input(type='submit' id='btnSubmit' text='Submit')
  script(src='/scripts/avatarStuff.js')