html{
    background-color: #F2F3F4;
    padding: 25px;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

.avatars{
  margin-top: 15px;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.userPost{
  margin-bottom: 15px;
  background: #fff;
  width: 500px;
  margin-left: 350px;
  height: 200px;
}

.pageContainer{
    text-align: center;
    background-color: #154360;
    border-radius: 15px;
    border: solid 2px black;
}
.loginSpaceContainer{
    width: 12.7%;
    margin: auto;
}

.loginSpace{
    background-color: #5499C7;
    padding: 35px;
    display: inline-block;
    border-radius: 15px;
    border: solid 2px black;
    margin-bottom: 25px;

}

.register{
    background-color: #5499C7;
    padding: 35px;
    display: inline-block;
    border-radius: 15px;
    border: solid 2px black;
    margin-bottom: 25px;
    width: 35%;
}

.loginSpaceContainer h3{
    text-align: center;
}

.navbar{
    background-color: #5499C7;
    padding: 20px;
    border-radius: 15px;
    border: solid 2px black;
    display: inline-block;
    width: 32%;
}

.navbutton{
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    float: left;
    font-size: 20px;
}

a:visited{
    color: black;
}

h1{
    display: inline-block;
    margin: 35px;
    background-color: transparent;
}

.boardContainer{
    background-color: #F2F3F4;
    margin: auto;
    width: 45%;
    height: 750px;
    border-radius: 15px;
    border: 2px black solid;
    padding: 15px;
    margin-bottom: 35px;
}

.board{
    background-color: #5499C7;
    margin: auto;
    width: 85%;
    height: 500px;
    border: 2px black solid;
    border-radius: 15px;
    padding: 15px;
    overflow: auto;
}

.messageBox{
    background-color: #F2F3F4;
    /*width: 85%;*/
    /*height: 75px;*/
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
}

.username{
    float: left;
}
.message{
    display: inline-block;
    float: left;
}

.avatarBoard {
    display: inline-block;
    margin-top: 5px;
    float: left;
    margin-right: 20px;
}

.avatarBoard img{
    width: 50px;
    height:50px;
}
table, tr, td{
    border: 1px solid #000;
    background: #5499C7;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}