html{
    background-color: #D7DBDD;
    padding: 25px;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

.pageContainer{
    text-align: center;
    background-color: #2471A3;
    border-radius: 15px;
    border: solid 2px black;
}
.loginSpaceContainer{
    width: 12.7%;
    margin: auto;
}

.loginSpace{
    background-color: #5499C7;
    padding: 35px;
    display: inline-block;
    border-radius: 15px;
    border: solid 2px black;
    margin-bottom: 25px;

}

.loginSpaceContainer h3{
    text-align: center;
}

.navbar{
    background-color: #5499C7;
    padding: 20px;
    border-radius: 15px;
    border: solid 2px black;
    display: inline-block;
    width: 32%;
}

.navbutton{
    padding: 15px;
    margin: 10px;
    display: inline-block;
    float: left;
    font-size: 20px;
}

a:visited{
    color: black;
}


h1{
    display: inline-block;
    margin: 35px;
    background-color: transparent;

}

.register{
    background-color: #5499C7;
    padding: 35px;
    display: inline-block;
    border-radius: 15px;
    border: solid 2px black;
    margin-bottom: 25px;
    width: 30%
}